<div class="bg-white shadow-md rounded-lg p-4 w-full max-w-screen mx-auto">
  <h2 class="text-xl font-bold text-[#330685] mb-4 flex justify-between items-center">
    Tareas
    
    <button (click)="agregarTarea()" 
            class=" text-purple-950 ">
      <mat-icon>add</mat-icon>
    </button>
  </h2>

  <ul class="divide-y divide-gray-200">
    <li *ngFor="let tarea of tareas; let i = index" class="py-3 flex items-center">
      <input type="checkbox" 
             [(ngModel)]="tarea.completada" 
             class="mr-3 w-5 h-5 text-[#330685] rounded focus:ring-[#4b0da8]">
      
      <p class="text-lg font-semibold text-gray-800"
         [class.line-through]="tarea.completada"
         [class.text-gray-400]="tarea.completada">
        {{ tarea.nombre }}
      </p>
    </li>
  </ul>
</div>
