<!-- Botón Hamburguesa - Solo visible en móviles -->
<button (click)="toggleMenu()" 
        class="md:hidden fixed top-4 left-4 z-50 p-2 bg-[#1e1725] text-white rounded-lg">
  <mat-icon>menu</mat-icon>
</button>

<!-- Overlay para cerrar menú al hacer click fuera - Solo en móviles -->
<div *ngIf="isMenuOpen" 
     (click)="closeMenu()"
     class="md:hidden fixed inset-0 bg-black bg-opacity-50 z-40"></div>
     
<header [class.translate-x-0]="isMenuOpen"
        [class.-translate-x-full]="!isMenuOpen"
        class="flex flex-col justify-between h-screen w-44 md:w-52 bg-[#1e1725]
         text-white fixed top-0 left-0 transition-transform duration-300 transform md:translate-x-0 md:static z-50">
  <div>
    <div class="flex items-center justify-center mb-6 p-7">
      <img src="https://i.ibb.co/nsj1v77z/Logo-Blanco.png" alt="Logo Mundial" class="w-18 h-18"/>
      <span class="kura-text">KickOff</span>
    </div>

    <nav class="flex flex-col gap-2">
      <button mat-button [routerLink]="['home']"
              class="flex items-center gap-4 px-6 py-3 rounded-lg hover:bg-[#4b0da8] transition">
        <mat-icon>home</mat-icon>
        <span class="hidden md:inline">Inicio</span>
      </button>

      <button mat-button [routerLink]="['mensajes']"
              class="flex items-center gap-4 px-6 py-3 rounded-lg hover:bg-[#4b0da8] transition">
        <mat-icon matBadge="3" matBadgeColor="warn">chat</mat-icon>
        <span class="hidden md:inline">Mensajes</span>
      </button>

      <button mat-button [routerLink]="['simulador']"
              class="flex items-center gap-4 px-6 py-3 rounded-lg hover:bg-[#4b0da8] transition">
        <mat-icon>sports_soccer</mat-icon>
        <span class="hidden md:inline">Simulador</span>
      </button>

      <button mat-button [routerLink]="['ranking']"
              class="flex items-center gap-4 px-6 py-3 rounded-lg hover:bg-[#4b0da8] transition">
        <mat-icon>emoji_events</mat-icon>
        <span class="hidden md:inline">Ranking</span>
      </button>
    </nav>
  </div>

 <button mat-button
        class="flex items-center gap-3 px-6 py-5 rounded-lg hover:bg-[#4b0da8] transition"
        (click)="onAbrirModal()">
  <mat-icon>person</mat-icon>
  <span class="hidden md:inline">Cuenta</span>
</button>



